@model Patient

@{
    ViewData["Title"] = "Edit Patient";
}

<h2>Edit Patient</h2>

<div class="card">
    <div class="card-body">
        <form asp-action="Edit" method="post">
            <div class="form-group">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Age" class="form-label">Age</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="form-label">Address</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="History" class="form-label">Medical History</label>
                <textarea asp-for="History" class="form-control" rows="3"></textarea>
                <span asp-validation-for="History" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AspNetUsersId" class="form-label">User Account (User Id)</label>
                <input asp-for="AspNetUsersId" class="form-control" readonly/>
            </div>            
            
            <div class="form-group">
                <label asp-for="Id" class="form-label">Patient Id</label>
                <input asp-for="Id" class="form-control" readonly/>
            </div>
            
            <button type="submit" class="btn btn-success mt-2">Save</button>
            <a asp-action="Index" class="btn btn-secondary mt-2">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


