@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">

<div class="bg-gray-100">
    <div class="min-h-screen flex items-center justify-center">
        <div class="max-w-md w-full space-y-8 bg-white p-10 rounded-xl shadow-md">
            <div>
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    Sign in to your account
                </h2>
            </div>
            <form asp-action="Login" method="post" class="mt-8 space-y-6">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-red-500 text-xs italic"></div>
                <div class="rounded-md shadow-sm -space-y-px">
                    <div>
                        <label for="Email" class="sr-only">Email address</label>
                        <input asp-for="Email" type="email" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email address" required>
                        <span asp-validation-for="Email" class="text-red-500 text-xs italic"></span>
                    </div>
                    <div>
                        <label for="Password" class="sr-only">Password</label>
                        <input asp-for="Password" type="password" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password" required>
                        <span asp-validation-for="Password" class="text-red-500 text-xs italic"></span>
                    </div>
                </div>

                <div>
                    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Sign in
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}